<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="page_head(title, remove)" th:remove="${remove}">
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${title}]]</title>

   <!--data table css-->
    <link th:href="@{/DataTables/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/DataTables/datatables.css}" rel="stylesheet">

    <!--css-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebars.css}" />

    <!--javascript-->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/sidebars.js}"></script>

    <!--data table js-->
    <script th:src="@{/DataTables/datatables.min.js}"></script>
    <script th:src="@{/DataTables/datatables.js}"></script>
</head>

<body>

<!--notification-->
<div th:fragment="notification">
    <div th:if="${message != null}" class="toast-container position-fixed bottom-0 end-0 p-3">
        <div  class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="d-flex">
                <div class="toast-body">
                    [[${message}]]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

</body>
</html>