<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments :: page_head(${pageTitle} + ' - Crud App', 'none')" />

<body>
    <main>

        <div th:replace="navigation :: sidebar_menu"></div>

        <div class="container-fluid">
            <div class="mt-2 mb-2 border-bottom border-black border-3">
                <h3>[[${pageTitle}]]</h3>
            </div>
        </div>

    </main>
</body>
</html>